<h1>you searched for "<%= params[:search] %>"</h1>
<% if @searchterm.empty? %>
  <h3 style="color:blue;">No Availiable Elections</h3>
<% else %>
  <% @searchterm.each do |election| %>

  <div class="card">
    <div class="card-body">
      <h5 style= "float:left;"><%= election.title %></h5>
      <%= link_to "View", select_elections_path(election), class: "btn btn-primary", style:"float:right;"%> 
    </div>
  </div>

  <% end %>
<% end %>